@using WebApi.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bornholm-Local-History</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bornholm_Sleagts.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header>
        <nav style="background-color: #004953" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <a class="navbar-brand" href="/">
                <div class="logo-image">
                    <img src="\images\logo_project.png" class="img-fluid">
                </div>
            </a>
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bornholms Lokalhistorie</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Hjem</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Kategorier
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="" asp-controller="Feallesbase" asp-action="Index">FeallesBase</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="AfgangTilgang" asp-action="Index">AfgangTilgangs</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Allsand" asp-action="Index">Allsands</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Dato" asp-action="Index">Dato1822</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Arrest" asp-action="Index">ArRestProtokoller</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Begrav" asp-action="Index">BegravelseProtokoller</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Borger" asp-action="Index">Borgerskab-Rønne</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Born" asp-action="Index">Børn-Rø</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Christian" asp-action="Index">Christian-Sø</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Foto" asp-action="Index">Foto</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Ft" asp-action="Index">FT1845</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">Brugere</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="GateGory">Kategorierer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Om os</a>
                        </li>
                    </ul>
                    <style>
                        .navbar-nav .nav-item .nav-link.logout-icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 40px;
                            height: 40px;
                            text-align: center;
                            border-radius: 50%;
                            background-color: #f8f9fa;
                            color: #343a40;
                            border: 1px solid #343a40;
                            font-weight: bold;
                            transition: background-color 0.3s, color 0.3s;
                            margin-left: -10px; /* Adjust this value to move the icon to the left */
                        }

                            .navbar-nav .nav-item .nav-link.logout-icon:hover {
                                background-color: #343a40;
                                color: #f8f9fa;
                            }

                        .navbar-nav .nav-item.dropdown .dropdown-menu {
                            transform: translateX(-75%);
                        }
                    </style>
                    <ul class="navbar-nav">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Auth" asp-action="Login">Log på</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Auth" asp-action="Register">Tilmeld</a>
                            </li>
                        }
                        else
                        {
                            var userName = User.Identity.Name;
                            var initials = "";
                            if (!string.IsNullOrEmpty(userName))
                            {
                                var nameParts = userName.Split(' ');
                                var user = new UserDto(); // Assuming UserDto has properties like FirstName and LastName
                                var nameParts2 = user.LastName?.Split(' '); // Split last name if it contains multiple parts
                                if (nameParts.Length > 1 && nameParts2?.Length > 1)
                                {
                                    initials = $"{nameParts[0][0]}".ToUpper() + $"{nameParts2[0][0]}".ToUpper(); // First letter of first name + first letter of last name
                                }
                                else
                                {
                                    initials = $"{nameParts[0][0]}".ToUpper();
                                }
                            }
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle logout-icon" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @initials
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <span class="dropdown-item-text">Hej @User.Identity.Name</span>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Log ud</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <partial name="_Notifications" />
        </main>
    </div>
    <br />
    <footer style="background-color: #004953" class="border-top footer text-white text-muted text-center">
        <div class="container text-white">
            &copy; 2024 - Lav med <i class="bi bi-suit-heart-fill"></i> Bornholm_Lokal_Historie - <a asp-area="" asp-controller="Home" asp-action="Privacy">Om Os</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
