@model WebApi.SharedModels.Arrestprotokoller

<div class="card shadow border-0 mt-4">
    <div class=" card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">

                <h2 class="text-blabk-50 pl-3">TilFøjet Ny ArrestProtokoller</h2>

            </div>

        </div>

    </div>
    <div class="card-body p-4">
        <form method="post" action="Create">
            <div class=" border p-3">
                <div class="form-group row text-center "></div>
                <div class="col">
                    <div class="row-12">
                        <div class="form-group col">
                            <div asp-validation-summary="All"></div>
                            <div class="mp-3">
                                <label asp-for="ProtokolSideFolie" class="form-label"></label>
                                <input asp-for="ProtokolSideFolie" class="form-control" />
                                <span asp-validation-for="ProtokolSideFolie" class="text-danger"></span>
                            </div>



                            <div class="mp-3">
                                <label asp-for="Protokolid" class="form-label"></label>
                                <input asp-for="Protokolid" class="form-control" />
                                <span asp-validation-for="Protokolid" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="ProtokolFotoside1" class="form-label"></label>
                                <input asp-for="ProtokolFotoside1" class="form-control" />
                                <span asp-validation-for="ProtokolFotoside1" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="ProtokolFotoside2" class="form-label"></label>
                                <input asp-for="ProtokolFotoside2" class="form-control" />
                                <span asp-validation-for="ProtokolFotoside2" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="FangeLbnr" class="form-label"></label>
                                <input asp-for="FangeLbnr" class="form-control" />
                                <span asp-validation-for="FangeLbnr" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="VisitaionArbejdsProtokolNr" class="form-label"></label>
                                <input asp-for="VisitaionArbejdsProtokolNr" class="form-control" />
                                <span asp-validation-for="VisitaionArbejdsProtokolNr" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="Fornavn" class="form-label"></label>
                                <input asp-for="Fornavn" class="form-control" />
                                <span asp-validation-for="Fornavn" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="Efternavn" class="form-label"></label>
                                <input asp-for="Efternavn" class="form-control" />
                                <span asp-validation-for="Efternavn" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="Slægtsnavn" class="form-label"></label>
                                <input asp-for="Slægtsnavn" class="form-control" />
                                <span asp-validation-for="Slægtsnavn" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="Stilling" class="form-label"></label>
                                <input asp-for="Stilling" class="form-control" />
                                <span asp-validation-for="Stilling" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="Alder" class="form-label"></label>
                                <input asp-for="Alder" class="form-control" />
                                <span asp-validation-for="Alder" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="Fødested" class="form-label"></label>
                                <input asp-for="Fødested" class="form-control" />
                                <span asp-validation-for="Fødested" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="Fødedato" class="form-label"></label>
                                <input asp-for="Fødedato" class="form-control" />
                                <span asp-validation-for="Fødedato" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="Signalement" class="form-label"></label>
                                <input asp-for="Signalement" class="form-control" />
                                <span asp-validation-for="Signalement" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="ProtokolDato" class="form-label"></label>
                                <input asp-for="ProtokolDato" class="form-control" />
                                <span asp-validation-for="ProtokolDato" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="UnderHvisJustits" class="form-label"></label>
                                <input asp-for="UnderHvisJustits" class="form-control" />
                                <span asp-validation-for="UnderHvisJustits" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="Årsag" class="form-label"></label>
                                <input asp-for="Årsag" class="form-control" />
                                <span asp-validation-for="Årsag" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="SagensUdfald" class="form-label"></label>
                                <input asp-for="SagensUdfald" class="form-control" />
                                <span asp-validation-for="SagensUdfald" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="Domsdato" class="form-label"></label>
                                <input asp-for="Domsdato" class="form-control" />
                                <span asp-validation-for="Domsdato" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="Anmærkninger" class="form-label"></label>
                                <input asp-for="Anmærkninger" class="form-control" />
                                <span asp-validation-for="Anmærkninger" class="text-danger"></span>
                            </div>
                            <div class="mp-3">
                                <label asp-for="Bemærkninger" class="form-label"></label>
                                <input asp-for="Bemærkninger" class="form-control" />
                                <span asp-validation-for="Bemærkninger" class="text-danger"></span>
                            </div>
                           
                            <div class="mp-3">
                                <label asp-for="HenvisningsfolieProtolkol" class="form-label"></label>
                                <input asp-for="HenvisningsfolieProtolkol" class="form-control" />
                                <span asp-validation-for="HenvisningsfolieProtolkol" class="text-danger"></span>
                            </div>


                        </div>
                        <br />
                        <div class="row">
                            <div class="col-6 col-md-3">

                                <input type="submit" class="btn btn-primary w-75" value="Tilføj" />
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-action="Index" class="btn btn-primary w-75">Tilbage</a>
                            </div>

                        </div>

                </div>

            </div>

        </form>

    </div>

</div>
