<div class="container bootstrap snippets bootdeys">
    <div class="row">
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                    <div class="content">
                        <h6 class="category">Fealles Base</h6>
                        <h4 class="title"><a class="dropdown-item" asp-area="" asp-controller="Feallesbase" asp-action="Index">FeallesBase</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                    <div class="content">
                        <h6 class="category">AfgangTilgang</h6>
                        <h4 class="title"><a href="#"><a class="dropdown-item" asp-area="" asp-controller="AfgangTilgang" asp-action="Index">AfgangTilgangs</a></a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                    <div class="content">
                        <h6 class="category">Allsands</h6>
                        <h4 class="title"><a class="dropdown-item" asp-area="" asp-controller="Allsand" asp-action="Index">Allsands</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="brown" data-radius="none">
                    <div class="content">
                        <h6 class="category">Dato1822</h6>
                        <h4 class="title">  <a class="dropdown-item" asp-area="" asp-controller="Dato" asp-action="Index">Dato1822</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="purple" data-radius="none">
                    <div class="content">
                        <h6 class="category">ArRestProtokoller</h6>
                        <h4 class="title"><a class="dropdown-item" asp-area="" asp-controller="Arrest" asp-action="Index">ArRestProtokoller</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="orange" data-radius="none">
                    <div class="content">
                        <h6 class="category">BegravelseProtokoller</h6>
                        <h4 class="title">   <a class="dropdown-item" asp-area="" asp-controller="Begrav" asp-action="Index">BegravelseProtokoller</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                    <div class="content">
                        <h6 class="category">Borgerskab-Rønne</h6>
                        <h4 class="title">     <a class="dropdown-item" asp-area="" asp-controller="Borger" asp-action="Index">Borgerskab-Rønne</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                    <div class="content">
                        <h6 class="category">Børn-Rø</h6>
                        <h4 class="title">    <a class="dropdown-item" asp-area="" asp-controller="Born" asp-action="Index">Børn-Rø</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                    <div class="content">
                        <h6 class="category">Christian-Sø</h6>
                        <h4 class="title"> <a class="dropdown-item" asp-area="" asp-controller="Christian" asp-action="Index">Christian-Sø</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="brown" data-radius="none">
                    <div class="content">
                        <h6 class="category">Best cards</h6>
                        <h4 class="title"><a href="#">Brown Card</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="purple" data-radius="none">
                    <div class="content">
                        <h6 class="category">Best cards</h6>
                        <h4 class="title"><a href="#">Purple Card</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="orange" data-radius="none">
                    <div class="content">
                        <h6 class="category">Best cards</h6>
                        <h4 class="title"><a href="#">Orange Card</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>
    </div>
</div>