@model WebApi.SharedModels.FPBog

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-black-50 pl-3 ">Slet Side</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <form asp-action="Delete">
            <input asp-for="ID" hidden />
            <div class="border p-3">
                <div class="col">
                    <div class="row-12">
                        <div class="form-group col">
                            <div class="mp-3">
                                <label asp-for="Indskrivningsnr" class="form-label"></label>
                                <input asp-for="Indskrivningsnr" disabled class="form-control" />
                            </div>
                            <div class="mp-3">
                                <label asp-for="FaesterNavn" class="form-label"></label>
                                <input asp-for="FaesterNavn" disabled class="form-control" />
                               
                            </div>
                            <div class="mp-3">
                                <label asp-for="Fornavn" class="form-label"></label>
                                <input asp-for="Fornavn" disabled class="form-control" />
                         
                            </div>


                            <div class="mp-3">
                                <label asp-for="Efternavn" class="form-label"></label>
                                <input asp-for="Efternavn" disabled class="form-control" />
                                
                            </div>
                            <div class="mp-3">
                                <label asp-for="FaesterTilnavn" class="form-label"></label>
                                <input asp-for="FaesterTilnavn" disabled class="form-control" />
                                
                            </div>

                            <div class="mp-3">
                                <label asp-for="ForrigeFaesterNavn" class="form-label"></label>
                                <input asp-for="ForrigeFaesterNavn" disabled class="form-control" />
                              
                            </div>

                            <div class="mp-3">
                                <label asp-for="ForrigeFaesterFornavn" class="form-label"></label>
                                <input asp-for="ForrigeFaesterFornavn" disabled class="form-control" />
                            </div>

                            <div class="mp-3">
                                <label asp-for="ForrigeFaesterEfternavn" class="form-label"></label>
                                <input asp-for="ForrigeFaesterEfternavn" disabled class="form-control" />
                            </div>

                            <div class="mp-3">
                                <label asp-for="ForrigeFaesterTilnavnmm" class="form-label"></label>
                                <input asp-for="ForrigeFaesterTilnavnmm" disabled class="form-control" />
                            </div>

                            

                            <div class="mp-3">
                                <label asp-for="Kommentarer" class="form-label"></label>
                                <input asp-for="Kommentarer" disabled class="form-control" />
                            
                            </div>
                            <div class="mp-3">
                                <label asp-for="Gaard" class="form-label"></label>
                                <input asp-for="Gaard" disabled class="form-control" />

                            </div>

                            <div class="mp-3">
                                <label asp-for="Sogn" class="form-label"></label>
                                <input asp-for="Sogn" disabled class="form-control" />

                            </div>

                            <div class="mp-3">
                                <label asp-for="FaestebrevUdstedt" class="form-label"></label>
                                <input asp-for="FaestebrevUdstedt" disabled class="form-control" />

                            </div>

                            <div class="mp-3">
                                <label asp-for="Side" class="form-label"></label>
                                <input asp-for="Side" disabled class="form-control" />

                            </div>
                            <div class="mp-3">
                                <label asp-for="Bog" class="form-label"></label>
                                <input asp-for="Bog" disabled class="form-control" />

                            </div>
                            <div class="mp-3">
                                <label asp-for="Film" class="form-label"></label>
                                <input asp-for="Film" disabled class="form-control" />

                            </div>
                            <div class="mp-3">
                                <label asp-for="Herred" class="form-label"></label>
                                <input asp-for="Herred" disabled class="form-control" />

                            </<div>

                            <br />
                            <div class="form-group row">
                                <div class="col-8 offset-2 row">
                                    <div class="col">
                                        <input type="submit" class="btn btn-primary w-75" value="Slet" />
                                    </div>
                                    <div class="col">
                                        <a asp-action="Index" class="btn btn-primary w-75">TilBage</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>



